<app-navbar></app-navbar>
<div class="container">
  <h1>E-Commerce</h1>
    <div class="left">
    <img src={{data.image}} alt="">
    </div>
    <div class="con-1">

    <p style="font-weight: bold; font-size: 40px;">{{data.title}}</p>
    <p style="font-size:20px;">{{data.description}}</p>
    <div class="rating-container">
      <span class="rating" *ngFor="let star of getStars(data.rating.rate)" style="display: flex;"> 
       <i [class]="'fa ' + (star ? 'fa-solid':'fa-regular') + ' fa-star'" style="color: #FFD43B;"></i>  </span>
     </div>
    <button>{{data.price}}</button>
    </div>
</div>
<app-footer></app-footer>