/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;

}
img{
    padding:15px;
    height:200px;
    background-color: transparent;
    border-radius:15px;
}

h1{
    text-align: center;
    color: white;
    
}


